<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Darts App</h1>
    <div>
      <p id="p-ext">Enter your Extension to play! (1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888, 9999)</p>
      <%= form_tag("/play_game", method: "post") do %>
        <%= label_tag(:p1_input, "Player 1:") %>
        <%= number_field_tag :p1_input, nil, :required => true, :max => "9999" %>
        <%= label_tag(:p2_input, "Player 2:") %>
        <%= number_field_tag :p2_input, nil, :required => true, :max => "9999" %>
        <div class="button-holder">
          <%= submit_tag("Play Darts!") %>
        </div>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>

<div id="scoreboard" class="row">
  <div class="centered" class="small-6 small-centered columns">
    <table>
      <h1>Top Scores</h1>
      <tr>
        <th><h2>Average Score</h2></th>
        <th><h2>Player</h2></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><h3> <%= user.average_score %></h3></td>
          <td><h3> <%= user.name %> </h3></td>
        </tr>
      <% end %> 
    </table>
  </div>
</div>